<% if signed_in? %>

<h1>Listing rounds</h1>
<br>
<%= link_to 'Current Round', edit_game_path(@current_game) %>
<br />
<%= link_to 'New Round', new_game_path %>

<br />

<%= link_to 'Delete All Rounds', remove_all_games_path, data: { confirm: 'Are you sure?' } %>


<table class="table">
  <thead>
    <tr>
      <th>Round ID</th>
      <th>Player one</th>
      <th>Player two</th>
      <th>Score one</th>
      <th>Score two</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.player_one %></td>
        <td><%= game.player_two %></td>
        <td><%= game.score_one %></td>
        <td><%= game.score_two %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%end%>