<% if signed_in? %>

<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Game ID</th>
      <th>Player one</th>
      <th>Player two</th>
      <th>Score one</th>
      <th>Score two</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.player_one %></td>
        <td><%= game.player_two %></td>
        <td><%= game.score_one %></td>
        <td><%= game.score_two %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>

<%end%>