<!DOCTYPE html>
<html>
<head>
  <title>Greed: The Gameshow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Chivo:900italic,400' rel='stylesheet' type='text/css'>
</head>
<body>
<div class ="container">
<%if signed_in? %>

<%= yield %>

<% else %>


<%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

 <% end %>
</div>
</body>
</html>
